@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

body{
    display:grid;
    place-content:center;
    background-repeat: no-repeat;
    background-size: contain;
    background:url('images/pattern-background-mobile.svg'), hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    min-height:100vh;
}

.card{
    background:white;
    overflow:hidden;
    text-align:center;
    margin: 0 1.5rem;
    border-radius:20px;
    box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, .11);
    max-width:25em;
    padding-bottom:1em;

}
header{
    font-size:1.2rem;
    font-weight: 900;
    padding:.8rem 0;
}

.text{
    font-size: 16px;
    color:hsl(224, 23%, 55%);
}

.plan{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:1.2rem .7rem;
    border-radius:10px;
    padding:2% 1%;
    background-color:hsl(225, 100%, 98%);
    cursor:pointer;
}

#plan-header{
    font-size:.9rem;
    font-weight:900;
}
#price{
    font-size:15px;
    color:hsl(224, 23%, 55%);
}
#change{
    font-size: .8rem;
    opacity:1;
    transition: all .25s ease;
    color:hsl(245, 75%, 52%);
    cursor:pointer;
    font-weight:900;
}

#change:hover{
    opacity:.8;
}

.btn-holder{
    display:flex;
    flex-direction: column;
    gap:1.2em;
    margin:.8em .8em 1.5em .8em;
    justify-content: center;
    text-align:center;
}

.btn-payment{
    display:block;
    /* all:unset; */
    margin-left:1rem;
    margin-right:1rem;
    color:white;
    font-weight:700;
    font-size:.98rem;
    padding:1em;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, .25);
    opacity:1;
    transition: all .25s ease;
    cursor: pointer;
}

.btn-payment:hover{
    opacity:.8;
}

.btn-cancel{
    color:hsl(224, 23%, 55%);
    cursor:pointer;
    font-weight:700;
    font-size: 15px;
    opacity:1;
    transition:color .25s ease;
}

.btn-cancel:hover{
    opacity:.8;
}



