@import url(https://fonts.google.com/specimen/Spartan);

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    min-height:100vh;
    font-family: "Spartan", sans-serif;
    display:grid;
    place-content:center;
}

.container{
    padding:13% 6% 2% 6%;
    text-align:center;
    display:grid;
    gap:1em;
}

.home-section{
    display:grid;
    place-content:center;
    gap:1.5em;
}

.header{
    font-size:2.3rem;
    line-height:.9;
    font-weight:700;
    color: hsl(300, 43%, 22%);
}

.home-text{
    font-size:15px;
    line-height:1.5;
    color:hsl(303, 10%, 53%);
    font-weight:500;
}

.review{
    display:flex;
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
    padding:3% 6%;
    background-color:hsl(300, 24%, 96%);
    gap:.5em;
    margin:1.5em 0;
}

.review p{
    font-weight:800;
    color:hsl(300, 43%, 22%);
    font-size:14px;
    letter-spacing:1px;
}

.comment-section{
    display:flex;
    flex-direction: column;
    gap:.8em;
}

.comment{
    display:flex;
    text-align:left;
    flex-direction: column;
    background-color:hsl(300, 43%, 22%);
    margin:0;
    padding:12%;
    color:white;
    gap:1.5em;
    border-radius:10px;
}

.comment-creator{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.comment-logo img{
    border-radius:50%;
    width:60%;
}

.comment-name{
    font-size:18px;
}

.comment-attribute{
    font-size:15px;
    color:hsl(333, 80%, 67%);
    letter-spacing:1px;
    margin-top:.2em;
    opacity:.7;
}

.comment-text{
    line-height:1.5;
    color:white;
    font-size:16px;
    font-weight:inherit;
    opacity:.8;
}

@media only screen and (min-width:800px){
    .container{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows:repeat(4, auto);
        padding:5% 9%;
        height:100vh;
    }

    .home-section{
        grid-column: 1 / span 2;
        text-align:left;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1em;
    }
    .header{
        font-size:2.5rem;
        max-width:300px;
    }

    .reviews-section{
        grid-column:3 / span 5;
    }

    

    .reviews-section{
        position:relative;
        
    }
    .review{
        padding:3% 5%;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .review p{
        font-size:12px;
    }

    .review:nth-child(2){
        position: relative;
        left:30px;
    }

    .review:nth-child(3){
        position: relative;
        left:60px;
    }

    .comment-section{
        flex-direction:row;
        grid-column: 1 / span 5;
        justify-content: center;
        position: relative;
    }

    .comment{
        padding:4%;
        position: relative;
    }

    .comment p {
        font-size: 13px;
    }

    .comment:nth-child(2)
    {
        top:10px;
    }

    .comment:nth-child(3)
    {
        top:20px;
    }
}









